*{
    margin: 0 auto;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 550;
    font-size: 27px; 
    color: #8f8e89;
}
body{
    background-color: #d3eef8;
}
#calculator{
    width: 360px;
    height: 610px;
    margin: 30px auto;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px #888;
}    

#result-conatiner{
    background-color: #faf69d;
    height: 200px;
    width: 360px;
    text-align: end;
    box-shadow:  0 4px 5px -4px #888;   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

#calculations{
    color: #b1b0a9;
    font-size: 40px;
    width: 310px;
    height: 60px;
    max-width: 310px;
    overflow: auto;    
}
#result{
    font-size: 60px;
    font-weight: 600;
    width: 310px;
    max-width: 310px;
    margin-top: 20px;
    overflow: auto;
} 

table{
    display: flex;
    flex-direction: column;
    background-color: #A9B5E2;
}

tbody{
    padding-top: 25px;
}

input{
    margin: 5px;
    box-sizing: border-box; 
    background-color: #fffdf5;
    border: none; 
    box-shadow: 0 0 7px #888;
}
.round-btn{
    border-radius: 50%;
    height: 60px;
    width: 60px;
}
.square-btn{
    border-radius: 5px;
    height: 60px;
    width: 60px;
}
.rectangle-btn{
    border-radius: 5px;
    height: 60px;
    width: 132px;
}
input[value='c']{
    background-color: #faf69d;
}
input[value='del']{
    background-color: #f8f6cd;
}

/* button animation */ 
input:hover {
  transform: translateY(-1px);
}
input:active {
  transform: translateY(0);
}

/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: #A9B5E2 #FFFDF5;
}*/

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    height: 7px;
    width: 7px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: #FFFDF5;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #FFFDF5;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #FFFDF5;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #A9B5E2;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #A9B5E2;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #A9B5E2;
  }
  